* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Larg */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
body{
    background-image: linear-gradient(90deg, rgb(255,26,117) 0%,rgb(153,0,61) 35% ,rgb(255,204,224) 100%);
}
.container{
    display: grid;
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00000030;
    padding: 20px;
    border-radius: 30px;
    color: white;
    max-width: 300px;
}
h2{
    text-align: center;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    text-align: end;
}
b{
    text-align: center;
    margin-bottom: 7px;
}
.container input{
    margin: 5px;
}
.sub{
    background-color: rgb(46, 43, 43);
    color: antiquewhite;
    padding: 3px;
}
