* {
    box-sizing: border-box;
  }
  body{
     background-image: url(/images/image\ 4.png);
     background-repeat: no-repeat;
     backdrop-filter: blur(8px);
     background-size: 100%;
     padding: 25px;
  }
  .container{
    margin: 20px ;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  .part1-1{ 
    display: inline-block;
    background-color: #ccc;
    width: 25%;
    height: 310px;
    text-align: center;
    border-radius: 2px;
    margin-right:50px;  
    font-size: 14px; 
  }
  .header{
    background-color: white;
    margin: 5px 4px 0 5px;
    border-radius: 4px;
  }
  .header p{
    display: inline-block;
    margin: 2px 16px;
    padding: 5px;
    border-radius: 4px;
  }
  .part2 .img1{
    width: 150px;
    height: 175px;
    background-color: #4f5345;
    position: relative;
    right: 5%;
    border-radius: 16px;
    margin: 10px;
  }
  .part2-2 .image1{
    width: 150px;
    height: 175px;
    background-color: #4f5345;
    position: relative;
    right: 5%;
    border-radius: 16px;
    margin: 13px;
  }
  .part2 div {
    position: absolute;
  }
  .part2 span {
    position: relative;
    left: -70px;
    top: 7px;
    font-size: 18px;
  }
  .part3 {
    position: relative;
    top: -128px;
    right: 82px;
  }
  .part3 .img2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #87765c; 
  }
  .p1,.p3{
    background-color: #cab8b8;
    border-radius: 2px;
    border: 2px solid #cab8b8;
  }
  .p1-2,.p3-2{
    background-color: #cab8b8;
    border-radius: 2px;
    border: 2px solid #cab8b8;
  }
  .part2-2 span{
    position: relative;
    left: 42px;
    top: 7px;
    font-size: 18px;
  }
  .part3-2 .image2{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #87765c;
    border: 2px solid #87765c;
  }
  .part3-2{
    display: inline-block;
    position: relative;
    right: 85px;
    top: -170px;
  }
  table{
    position: relative;
    right: calc(-31%/2);
    bottom: -205px;
  }
  td{
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 8px;
  }
  .left{
    font-size: 10px;
    background: #d9d9d9;
    padding: 6px;
    border-radius: 3px;
    width: 100px;
    position: relative;
    left: -30px;
    bottom: -27px;
  }
  .part1-1:first-child:after {
    content: " ";
    height: 420px;
    width: 9px;
    background-color: #aaa8a9;
    border-radius: 5px;
    float: right;
    position: absolute;
    right: 0;
    bottom: -100px;
  }
  @media (max-width: 767px) {
    .part1-1 {
      width: 100%;
      margin-left: 10px;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
      grid-gap: 15px;
    }
    .header {
      display: flex;
    }
    table {
      margin-right: 50%;
      bottom: 50px;
    }
    table td{
        width: 10px;
        height: 10px;
    }
    .part2-2 span{
        right: -100px;
    }
    body{
        background-size: cover;
    }
    .part1-1:first-child:after{
        bottom: 70px;
    }
  }